<!DOCTYPE html>
<html>

<head>
  <title> SmartAssistant </title>
  <!-- <script type="text/javascript" src="url_for('static', filename='my_lib.js')"></script> -->

  <link rel="stylesheet" href="static/style.css">
</head>



<body>
    <button id="log_in" onclick="window.location.href='http://127.0.0.1:5000/spotify_login';"> LOG IN!</button>

  <!--
    <br />
    <button id="shutdown"> SHUTDOWN!</button>
    <button id="previous"> Previouse Track </button>
    <button id="resume"> Resume </button>
    <button id="pause"> Pause </button>
    <button id="next"> Next Track </button>
 <button id="trackbutt"> Track TEST </button> -->


</body>

</html>
